body {
    font-family: Inter, sans-serif;
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}


ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.page-head {
    background-color: #06071B;
    background-image: linear-gradient(90deg, rgba(0, 197, 235, 0.30) -1.97%, rgba(181, 68, 254, 0.30) 89.43%);
    position: fixed;
    left: 0;
    right: 0;
    top: 26px;
    z-index: 999;
}

.head-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #FFF;
        font-size: 28px;
        font-weight: 400;
        line-height: normal;
        padding-top: 19px;
        padding-bottom: 19px;
}

.nav-list {
    display: flex;
    gap: 40px;
    color: #FFF;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        padding-top: 19px;
        padding-bottom: 19px;
        text-transform: uppercase;

}

/* ====================section 1===================== */
.section-1 {
    background-color: #06071B;
    background-clip: content-box;
    padding-bottom: 62px;
}

.section-1-container {
    position: relative;
        padding-top: 243px;
            padding-bottom: 146px;
        background-image: url(../images/section-1/text-bg.svg), url(../images/section-1/phone-bg.svg);
            background-repeat: no-repeat;
            background-position: top 240px left 40px, top 140px right 40px;
}

.main-title {
    color: #FFF;
margin-bottom: 18px;
        font-size: 40px;

        font-weight: 700;
        line-height: normal;
        z-index: 1;
}

.second-title {
    color: #FFF;
margin-bottom: 28px;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        z-index: 1;
}

.download-list {
    color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 62px;
        z-index: 1;
}

.download-list li:not(:last-child) {
margin-bottom: 14px;
}

.download-btn {
    width: 200px;
        height: 42px;
        border-radius: 5px;
            background-image: linear-gradient(90deg, #00C5EB -1.97%, #B544FE 89.43%);
color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.phone-img {
    position: absolute;
    top: 210px;
    right: 119px;
    z-index: 1;
    width: 450px;
    
}

.screen-img {
    position: absolute;
    top: 210px;
    right: 92px;
    width: 470px;
}

.shadow-section-1 {
    position: absolute;
    bottom: -62px;
    right: 160px;
}

.lt1 {
    position: absolute;
    top: 240px;
    right: 430px;
    width: 77px;
}

.lt2 {
    position: absolute;
    top: 260px;
    right: 520px;
    width: 95px;
}

.lt3 {
    position: absolute;
    top: 320px;
    right: 520px;
    width: 150px;
}

.lt4 {
    position: absolute;
    top: 310px;
    right: 650px;
    width: 130px;
}

.lt5 {
    position: absolute;
    top: 410px;
    right: 700px;
    width: 120px;
}

.lt6 {
    position: absolute;
    top: 500px;
    right: 800px;
    width: 130px;
}

.lt7 {
    position: absolute;
    right: 790px;
    top: 620px;
    width: 80px;
}

/* ================section 2================== */
.section-2 {
    background-image: url(../images/section-2/section-2-bg-right.svg), url(../images/section-2/section-2-bg-left.svg);
    background-repeat: no-repeat;
    background-position: top -170px right 10px, bottom -250px left 0;
    padding-bottom: 105px;
    padding-top: 40px;
}


.section-2-title {
    color: #000;
    margin-left: auto;
    margin-right: auto;
    max-width: 179px;
text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
}

.section-2-description {
    max-width: 855px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
}

.section-2-list {
    display: flex;
    justify-content: center;
    gap: 27px;

}

.section-2-list-1-item {
    max-width: 220px;
}


.section-2-list-1, .section-2-list-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 596px;
}

.section-2-list-2-item {
max-width: 220px;
}

.section-2-list-item-title {
color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.section-2-list-item-text {
    color: #000;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
}

/* =================section-3==================== */
.section-3 {
    background-color: #06071B;
}

.section-3-container {
    padding-top: 60px;
        padding-bottom: 98px;
    position: relative;
    background-image: url(../images/section-3/section-3-phone.png), url(../images/section-3/section-3-darl-phone.png), url(../images/section-3/section-3-text-bg.svg), url(../images/section-3/section-3-phone-bg.svg);
    background-repeat: no-repeat;
    background-position: top 60px
        right 140px, top 60px
        right 121px, top -40px left 150px, top -100px right 30px;
    height: 100%;
}

.section-3-title {
    color: #FFF;
text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
}

.section-3-description {
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        max-width: 479px;
        margin-bottom: 40px;
}

.section-3-link-list {
    display: flex;
    gap: 20px;
}

.section-3-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient( to right, #00C5EB,
        #B544FE);
        position: relative;
}

.section-3-link-icon {
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* =====================section-4======================== */

.section-4 {
        background-image: url(../images/section-4/section-4-bg-right.svg), url(../images/section-4/section-4-bg-mdl.svg), url(../images/section-4/section-4-bg-left.svg);
            background-repeat: no-repeat;
            background-position: top 30px right 0px, top 0 left -30px, bottom -40px left -20px;
position: relative;
        }

.section-4-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-4-title {
    color: #000;
text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        max-width: 129px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
}

.section-4-description {
    color: #000;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        max-width: 866px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
}

.section-4-team-list {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 80px;
}

.section-4-team-item {
    flex-basis: calc((100% - 96px) / 4);
    padding: 12px;
    text-align: center;
    background-color: #06071B;
    border-radius: 15px;
    background-image: linear-gradient(313deg, rgba(0, 197, 235, 0.50) -0.2%, rgba(181, 68, 254, 0.50) 112.66%);
}

.section-4-img-container {
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-4-team-item h3 {
    color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
}

.section-4-team-item p {
    color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
}
/* feedback box */
.feedback-container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-hidden {
    margin-left: 10px;
    margin-bottom: 20px;
}


.feedback-title {
    max-width: 352px;
    color: #000;
text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
}

.feedback-img {
    max-width: 181px;
    max-height: 181px;
overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.feedback-img img {
    width: 100%;
    object-fit: cover;
}

.feedback-name {
    color: #000;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
}

.feedback-info {
    color: #000;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        margin-bottom: 40px;
}

.feedback-text {
    color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 64px;
        max-width: 886px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.section-4-feedback, .section-4-feedback-2, .section-4-feedback-3, .section-4-feedback-4, .section-4-feedback-5, .section-4-feedback-6, .section-4-feedback-7 {
    text-align: center;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 100%;
}


/*  */

.feedback-container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="radio"] {

            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        
}

label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 5px;
    margin-bottom: 20px;
    transition: background-color 500ms ease-in-out;
}

/* radio */

.radio-1:checked ~ .fake-r-1 {
    background-color: #000;
}
.radio-1:checked ~ .section-4-feedback {
    position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.radio-2:checked~.fake-r-2 {
    background-color: #000;
}

.radio-2:checked~.section-4-feedback-2 {
    position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.radio-3:checked~.fake-r-3 {
    background-color: #000;
}

.radio-3:checked~.section-4-feedback-3 {
    position: static;
        opacity: 1;
        transition: 500ms ease-in-out;
}

.radio-4:checked~.fake-r-4 {
    background-color: #000;
}

.radio-4:checked~.section-4-feedback-4 {
position: static;
    opacity: 1;
    transition: 500ms ease-in-out;

}

.radio-5:checked~.fake-r-5 {
    background-color: #000;
}

.radio-5:checked~.section-4-feedback-5 {
position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.radio-6:checked~.fake-r-6 {
    background-color: #000;
}

.radio-6:checked~.section-4-feedback-6 {
position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.radio-7:checked~.fake-r-7 {
    background-color: #000;
}

.radio-7:checked~.section-4-feedback-7 {
position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

/*  */
.lala {
opacity: 0;
pointer-events: none;
}
.iphone-checkbox {
    margin: 20px;
    display: inline-block;
    position: relative;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ccc;
}

.iphone-checkbox::before {
    display: block;
    content: attr(data-offlabel);
    position: absolute;
    top: 18px;
    right: 10px;
    color: black;
    font-size: 19px;
}

.iphone-checkbox::after {
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 54px;
    height: 54px;
    background-color: white;
}

.lala:checked + .iphone-checkbox::after {
    left: 83px;
    background-color: #f7f7f7;
}

.lala:checked + .iphone-checkbox::before {
    content: attr(data-onlabel);
    left: 16px;
    right: auto;
    color: #fff;
}

.lala:checked + .iphone-checkbox {
    background-color: green;
}

.iphone-checkbox::after, .iphone-checkbox::before, .iphone-checkbox {
    transition: all 1s;
}

