body {
    font-family: Inter, sans-serif;
    width: 100%;
    color: #000;
}

a {
    color: currentColor;
    text-decoration: none;
    display: inline-block;
}


ul {
    list-style-type: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.page-head {
    background-color: #06071B;
    background-image: linear-gradient(90deg, rgba(0, 197, 235, 0.30) -1.97%, rgba(181, 68, 254, 0.30) 89.43%);
    position: fixed;
    left: 0;
    right: 0;
    top: 26px;
    z-index: 999;
}

.head-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #FFF;
        font-size: 28px;
        font-weight: 400;
        line-height: normal;
        padding-top: 19px;
        padding-bottom: 19px;
}

.nav-list {
    display: flex;
    gap: 40px;
    color: #FFF;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        padding-top: 19px;
        padding-bottom: 19px;
        text-transform: uppercase;

}

/* ====================section 1===================== */
.section-1 {
    background-color: #06071B;
    background-clip: content-box;
    padding-bottom: 62px;
}

.section-1-container {
    position: relative;
        padding-top: 243px;
            padding-bottom: 146px;
        background-image: url(../images/section-1/text-bg.svg), url(../images/section-1/phone-bg.svg);
            background-repeat: no-repeat;
            background-position: top 240px left 40px, top 140px right 40px;
}

.main-title {
    color: #FFF;
margin-bottom: 18px;
        font-size: 40px;

        font-weight: 700;
        line-height: normal;
        z-index: 1;
}

.second-title {
    color: #FFF;
margin-bottom: 28px;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        z-index: 1;
}

.download-list {
    color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 62px;
        z-index: 1;
}

.download-list li:not(:last-child) {
margin-bottom: 14px;
}

.download-btn {
    width: 200px;
        height: 42px;
        border-radius: 5px;
            background-image: linear-gradient(90deg, #00C5EB -1.97%, #B544FE 89.43%);
color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border: transparent;
}


.download-btn:hover {
    background-image: linear-gradient(#06071B, #06071B);
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, #00C5EB -1.97%, #B544FE 89.43%);
    border-image-slice: 1;
}


.phone-img {
    position: absolute;
    top: 220px;
    /* 210 */
    right: 114px;
    /* 119 */
    z-index: 1;
    width: 450px; 
    /* 450 */
    transition: 250ms ease-in-out;
    
}

.phone-img:hover {
    width: 470px;
    right: 119px;
    top: 210px;
}

.screen-img {
    position: absolute;
    top: 210px;
    right: 92px;
    width: 470px;
}

.shadow-section-1 {
    position: absolute;
    bottom: -62px;
    right: 160px;
    max-width: 394px;
}

.lt1 {
    position: absolute;
    top: 240px;
    right: 430px;
    width: 77px;
}

.lt2 {
    position: absolute;
    top: 260px;
    right: 520px;
    width: 95px;
}

.lt3 {
    position: absolute;
    top: 320px;
    right: 520px;
    width: 150px;
}

.lt4 {
    position: absolute;
    top: 310px;
    right: 650px;
    width: 130px;
}

.lt5 {
    position: absolute;
    top: 410px;
    right: 700px;
    width: 120px;
}

.lt6 {
    position: absolute;
    top: 500px;
    right: 800px;
    width: 130px;
}

.lt7 {
    position: absolute;
    right: 790px;
    top: 620px;
    width: 80px;
}

/* ================section 2================== */
.section-2 {
    background-image: url(../images/section-2/section-2-bg-right.svg), url(../images/section-2/section-2-bg-left.svg);
    background-repeat: no-repeat;
    background-position: top -170px right 10px, bottom -250px left 0;
    padding-bottom: 105px;
    padding-top: 40px;
}


.section-2-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 179px;
text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 80px;
}

.section-2-description {
    max-width: 855px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
}

.section-2-list {
    display: flex;
    justify-content: center;
    gap: 27px;

}

.section-2-list-1-item {
    max-width: 220px;
}

.section-2-img-main {
    width: 396px;
    height: 596px;
}


.section-2-list-1, .section-2-list-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 596px;
}

.section-2-list-2-item {
max-width: 220px;
}

.section-2-list-item-title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
}

.section-2-list-item-title::before {
    content: url(../images/section-2/section-2-before.png);
    width: 28px;
    height: 28px;
    position: absolute;
    left: -40px;

}

.section-2-list-item-text {
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
}

/* =================section-3==================== */
.section-3 {
    background-color: #06071B;
}

.section-3-container {
    padding-top: 60px;
        padding-bottom: 98px;
    position: relative;
    background-image: url(../images/section-3/section-3-phone.png), url(../images/section-3/section-3-darl-phone.png), url(../images/section-3/section-3-text-bg.svg), url(../images/section-3/section-3-phone-bg.svg);
    background-repeat: no-repeat;
    background-position: top 60px
        right 140px, top 60px
        right 121px, top -40px left 150px, top -100px right 30px;
    height: 100%;
}

.section-3-title {
    color: #FFF;
text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
}

.section-3-description {
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        max-width: 479px;
        margin-bottom: 40px;
}

.section-3-link-list {
    display: flex;
    gap: 20px;
}

.section-3-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient( to right, #00C5EB,
        #B544FE);
        position: relative;
}

.section-3-link-icon {
    fill: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* =====================section-4======================== */


.section-4 {
    background-image: url(../images/section-4/section-4-bg-right.svg), url(../images/section-4/section-4-bg-mdl.svg), url(../images/section-4/section-4-bg-left.svg);
            background-repeat: no-repeat;
            background-position: top 30px right 0px, top 0 left -30px, bottom -40px left -20px;
position: relative;
}


.section-4-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-4-title {
text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        max-width: 129px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
}

.section-4-description {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        max-width: 866px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
}

.section-4-team-list {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 80px;
}

.section-4-team-item {
    flex-basis: calc((100% - 96px) / 4);
    padding: 12px;
    text-align: center;
    background-color: #06071B;
    border-radius: 15px;
    background-image: linear-gradient(313deg, rgba(0, 197, 235, 0.50) -0.2%, rgba(181, 68, 254, 0.50) 112.66%);
}

.section-4-img-container {
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-4-team-item h3 {
    color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
}

.section-4-team-item p {
    color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
}
/* feedback box */
.feedback-container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-hidden {
    margin-left: 10px;
    margin-bottom: 20px;
}


.feedback-title {
    max-width: 352px;
text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
}

.feedback-img {
    max-width: 181px;
    max-height: 181px;
overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.feedback-img img {
    width: 100%;
    object-fit: cover;
}

.feedback-name {
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
}

.feedback-info {
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        margin-bottom: 40px;
}

.feedback-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 64px;
        max-width: 886px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.section-4-feedback, .section-4-feedback-2, .section-4-feedback-3, .section-4-feedback-4, .section-4-feedback-5, .section-4-feedback-6, .section-4-feedback-7 {
    text-align: center;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 100%;
}


/*  */

.feedback-container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="radio"] {

            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
    
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        
}

label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 5px;
    margin-bottom: 20px;
    transition: background-color 500ms ease-in-out;
}

/* radio */

.radio-1:checked ~ .fake-r-1 {
    background-color: #000;
}
.radio-1:checked ~ .section-4-feedback {
    position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.radio-2:checked~.fake-r-2 {
    background-color: #000;
}

.radio-2:checked~.section-4-feedback-2 {
    position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.radio-3:checked~.fake-r-3 {
    background-color: #000;
}

.radio-3:checked~.section-4-feedback-3 {
    position: static;
        opacity: 1;
        transition: 500ms ease-in-out;
}

.radio-4:checked~.fake-r-4 {
    background-color: #000;
}

.radio-4:checked~.section-4-feedback-4 {
position: static;
    opacity: 1;
    transition: 500ms ease-in-out;

}

.radio-5:checked~.fake-r-5 {
    background-color: #000;
}

.radio-5:checked~.section-4-feedback-5 {
position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.radio-6:checked~.fake-r-6 {
    background-color: #000;
}

.radio-6:checked~.section-4-feedback-6 {
position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

.radio-7:checked~.fake-r-7 {
    background-color: #000;
}

.radio-7:checked~.section-4-feedback-7 {
position: static;
    opacity: 1;
    transition: 500ms ease-in-out;
}

/*  */
.lala {
opacity: 0;
pointer-events: none;
}
.iphone-checkbox {
    margin: 20px;
    display: inline-block;
    position: relative;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ccc;
}

.iphone-checkbox::before {
    display: block;
    content: attr(data-offlabel);
    position: absolute;
    top: 18px;
    right: 10px;
    color: black;
    font-size: 19px;
}

.iphone-checkbox::after {
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 54px;
    height: 54px;
    background-color: white;
}

.lala:checked + .iphone-checkbox::after {
    left: 83px;
    background-color: #f7f7f7;
}

.lala:checked + .iphone-checkbox::before {
    content: attr(data-onlabel);
    left: 16px;
    right: auto;
    color: #fff;
}

.lala:checked + .iphone-checkbox {
    background-color: green;
}


.iphone-checkbox::after, .iphone-checkbox::before, .iphone-checkbox {
    transition: all 1s;
}

/* ==============footer=============== */
.page-footer {
    background-color: #06071B;
    background-image: url(../images/footer/footer-bg-text.png), url(../images/footer/footer-bg-form-l.png), url(../images/footer/footer-bg-form-r.png);
    background-repeat: no-repeat;
    background-position: top 120px left 230px, top 70px right 220px, top 60px right 30px;
}

.container-footer {
    padding-top: 80px;
    padding-bottom: 139px;
}

.footer-title {
    color: #FFF;
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        max-width: 160px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
}

.footer-flex-container {
    display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
}

.foot-form {
    max-width: 608px;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 608px;
    row-gap: 20px;
    column-gap: 32px;
    margin-bottom: 20px;
}

.input-footer-name, .input-footer-mail {
    min-width: 288px;
    height: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 11px;
    padding-bottom: 12px;
    border-radius: 5px;
        background: #FFF;
    color: #939EAC;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        border: none;
}

.textarea-footer {
    min-width: 608px;
    height: 162px;
    padding: 12px 8px;
    border-radius: 5px;
        background: #FFF;
    color: #939EAC;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        resize: none;
}

.footer-form-send-button {
    border-radius: 5px;
        background: linear-gradient(90deg, #00C5EB -1.97%, #B544FE 89.43%);
        width: 181px;
            height: 42px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #FFF;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
    margin-left: auto;
    border: transparent;
                
}

.footer-form-send-button:hover {
    background-image: linear-gradient(#06071B, #06071B);
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, #00C5EB -1.97%, #B544FE 89.43%);
    border-image-slice: 1;

}

.footer-content {
    max-width: 500px;
}

.footer-second-title {
    color: #FFF;
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
}

.footer-description {
    color: #FFF;
        font-weight: 500;
        line-height: normal;
}

.footer-social-list {
    display: flex;
    gap: 14px;
    padding: 0;
    margin-bottom: 20px;
}

.footer-social-list-item-link {
    width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    background-image: var(--LINEAR, linear-gradient(90deg, #00C5EB -1.97%, #B544FE 89.43%));
    border: transparent;
}

.footer-social-icon {
    fill: white;
}

.footer-address-list {
    padding: 0;
}

.footer-address-list-item-link {
    color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}

.footer-address-list-item-link:not(:last-child) {
    margin-bottom: 12px;
}

.footer-rights {
    color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        padding: 21px 16px;
}

/* ======================modal===================== */
.modal-bg {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(6, 7, 27, 0.7), rgba(6, 7, 27, 0.7));
    z-index: 99999999;
    display: none;

}

.is-open {
    display: block;
}

.modal-f {
    width: 568px;
    /* height: 970px; */
    background-color: #06071B;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 40px;
}

.close-dwl-btn {
    line-height: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    fill: white;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-title {
    color: #FFF;
max-width: 300px;
margin-left: auto;
margin-right: auto;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.16;
        margin-bottom: 28px;
}

.download-veriety {
    display: flex;
    width: 100%;
    gap: 22px;
    margin-bottom: 32px;
}

.download-free, .download-pay {
   min-width: 233px;
}

.download-free {
    background-image: linear-gradient(90deg, #00C5EB -1.97%, #B544FE 89.43%);
    color: white;
    padding: 16px 40px;
    border-radius: 6px;
}

.file-icon {
    fill: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.download-free p, .download-pay p {
    color: #FFF;
        text-align: center;
        font-size: 16px;
        width: 100%;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 20px;
}

.download-free li, .download-pay li {
    color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
}

.download-free li:not(:last-child),
.download-pay li:not(:last-child) {
    margin-bottom: 14px;
}

.download-pay {
    border-radius: 6px;
    border: 2px solid var(--LINEAR, #00C5EB);
    padding: 16px 40px;
}

.modal-description {
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 32px;
        max-width: 448px;
}

.recomendations-modal {
    display: flex;
    gap: 0;
}

.download-recomend, .os-recomend {
    padding: 20px;
    border-radius: 6px;
    border: 2px solid var(--LINEAR, #00C5EB);
    width: 224px;

}

.app-about li, .os-about li {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.app-about li:not(:last-child),
.os-about li:not(:last-child) {
margin-bottom: 20px;
}


.app-about li > p:not(:last-child),
.os-about li > p:not(:last-child) {
    margin-bottom: 4px;
}


.app-about li > p,
.os-about li > p {
    display: inline-block;
        color: white;
        font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

}

.app-about li>p:last-child,
.os-about li>p:last-child {
    color: #1AB9FD;

}


.app-name-img, .app-lisence-img, .app-author-img, .app-data-img, .app-system-img, .app-lang-img, .app-size-img, .app-download-img  {
    width: 38px;
    position: absolute;
    top: 15px;
    left: -45px;

}


.dwld-btn-final {
    border-radius: 5px;
        background: linear-gradient(90deg, #00C5EB -1.97%, #B544FE 89.43%);
width: 200px;
    height: 42px;
    flex-shrink: 0;
    color: #FFF;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
    }